:root {
    --dark-blue-color-2: #074173;
    --btn-hover: #1679AB;
    --input-field-color: #eee;
    --bg-color: #ffffff;
    --body-color: #f4f4f9;
    --box-color: #f4f4f4;
    --label-color: #555;
    --border-color: #ddd;
}

* {
    font-family: "PT Sans", sans-serif;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.content {
    max-width: 800px;
    margin: 5px auto;
    padding-left: 25px;
    padding-right: 25px;
    height: calc(100vh - 50px); /* Set the height to viewport height minus some space for padding */
    overflow-y: auto; /* Enable vertical scrolling */
    scrollbar-width: none; /* Firefox */
    position: relative; 
}

.content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and newer Edge */
}

h1, h2, h3, #progress-text{
    color: var(--dark-blue-color-2);
}

.progress-bar, .container, .row, .col-2, .card, .card-1 {
    display: flex;
}

.progress-bar, .col-1 {
    width: 700px;
}

.progress-bar {
    position: absolute;
    height: 30px;
    background-color: var(--input-field-color);
    border-top: 2px solid var(--dark-blue-color-2);
}

#progress-text {
    font-size: 16px;
    font-weight: bold;
}

.container {
    width: 1200px;
    box-sizing: border-box;
    margin: auto; /* Center container horizontally */
}

.row {
    gap: 15px;
}

.col-1 {
    height: 100vh;
}

.col-2 {
    width: 495px;
    flex-direction: column;
}

.col-2 {
    margin-top: 10px;
}

.progress-bar {
    align-items: center;
    justify-content: center;
}

.card {
    height: 330px;
    margin-bottom: 5px; 
}

.col-1, .card-1, article {
    background-color: var(--box-color);
    border: 1px solid var(--border-color); 
}

.card-1, article {
    border-radius: 20px;
}

.card-2 {
    width: 495px;
    flex-direction: column;
}

.card-1 {
    justify-content: center;
    align-items: center;
    padding: 20px; /* Optional: adjust padding as needed */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.card-1 iframe {
    max-width: 100%; /* Ensures the iframe is responsive */
    height: 300;
}

.card-2 h3 {
    padding-left: 15px;
    color: var(--label-color);
}

article {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color:var(--label-color);
}

a:hover {
    text-decoration: underline;
}