/* Navbar styles */
.Navbar {
    position: fixed;
    top: 20px;
    left: 30px;
    bottom: 20px;
    width: 80px;
    border-radius: 10px;
    background-color: #333;
    color: #fff; /* Default color for text/icons */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar-logo {
    width: 40px;
    height: 80px;
    background-color: #ccc;
}

.navbar-icon {
    width: 50px;
    height: 50px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Apply white color to all icons */
.navbar-icon svg,
.navbar-logout svg {
    font-size: 35px;
    color: #fff; /* White color for icons */
}

.navbar-logout {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar svg {
    font-size: 40px;
}

/* Default state: hide the button */
.Navbar button {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
  
/* Media query to show button on smaller viewports */
@media (max-height: 600px) {
    .Navbar button {
      display: block;
    }
}
  

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        width: 60px;
    }

    .navbar-logo,
    .navbar-icon,
    .navbar-logout {
        transform: scale(0.8);
    }
}

img {
    height: 40px;
    width: 40px;
}

Link {
    color: white;
}
